<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.youbiliprojectbackend.modules.video.uplaod.dao.mapper.VideoUploadMapper">
    <insert id="insertVideoContent" useGeneratedKeys="true" keyProperty="videoID">
        INSERT INTO video (userID, title, description, videoSrcUrl, videoImgUrl)
        values (#{userID}, #{title}, #{description}, #{videoSrcUrl}, #{videoImgUrl})
    </insert>

    <update id="changeVideoContent"
            parameterType="cn.tedu.youbiliprojectbackend.modules.video.uplaod.pojo.dto.VideoUpdateDTO">
        update video
        set videoSrcUrl=#{videoSrcUrl},
            duration=#{duration},
            videoImgUrl=#{videoImgUrl}
        where videoID = #{videoID}
    </update>

</mapper>