<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.youbiliprojectbackend.modules.social.like.dao.persist.mapper.LikeMapper">
    <insert id="insert">
        INSERT INTO likes(likeID, userID, videoID, likeDate, typeEnable, gmtCreate, gmtModified)
        VALUES (#{likeID}, #{userID}, #{videoID}, #{likeDate}, #{typeEnable}, #{gmtCreate}, #{gmtModified})
    </insert>


    <delete id="delete">
        DELETE
        FROM youbili_v1.likes
        WHERE userID = #{userID}
          AND videoID = #{videoID}
    </delete>


    <select id="selectTypeEnableByVideoID"
            resultType="cn.tedu.youbiliprojectbackend.modules.social.like.pojo.vo.LikeTypeVO">
        SELECT typeEnable
        FROM youbili_v1.likes
        WHERE videoID = #{videoID}
          AND userID = #{userID}
    </select>

</mapper>